:root{
    --primary-color: #ffd400;
    --white-color: #fff;
    --text-color: #333;
    --header-height: 80px;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    color: var(--text-color);
}
.btn {
    background-image: linear-gradient(-106deg,#51beed 2%,#288ad6 100%);
    box-shadow: 0 2px 6px 0 #9ed4ec;
    border-radius: 100px;
    width: 302px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 17px;
    max-width: 100%;
    cursor: pointer;
}